.wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container {
    width: 500px;
  }
  
  .container img {
    max-width: 100%;
  }
  
  .circle:not(.backgroundBlur) .cropper-crop-box,
  .circle:not(.backgroundBlur) .cropper-view-box{
    border-radius: 50%;
  }
/*
  .backgroundBlur.circle {
    overflow: hidden;
    border-radius: 100%;
  }
*/
  .cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
  }
  